/* color palette from <https://github.com/vuejs/theme> */
:root {
  --primary: #000000;
  --on-primary: #FFFFFF;
  --secondary: rgba(0, 0, 0, 0.6);
  --background-color: #F2F0F1;
  --placeholder: #F0F0F0;
  --warning-color: #FFC633;
  --accent-color: #FF3333;
  --accent-color-container: #ff333310;
  --success: #01AB31;

  --vt-c-black-soft: #222222;
  --vt-c-black-mute: #282828;

}

/* semantic color variables for this project */
:root {
  --title-color: var(--primary);
  --subtitle-color: var(--secondary);
  --link-color: var(--warning-color);
  --light-button-color: var(--on-primary);
  --text-on-light-button-color: var(--primary);
  --dark-button-color: var(--primary);
  --text-on-dark-button-color: var(--on-primary);
  --stars-color: var(--warning-color);
  --discount-color: var(--accent-color-container);
  --text-on-discount-color: var(--accent-color);
  --base-background-color: var(--on-primary);
  --light-background-color: var(--background-color);
  --dark-background-color: var(--primary);
  --placeholder-color: var(--placeholder);
  --background-offer-color: var(--primary);
  --delete-color: var(--accent-color);
  --success-color: var(--success);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--title-color);
  background: var(--base-background-color);
  transition:
    color 0.5s,
    background-color 0.5s;

  /* line-height: 1.6; */
  font-family:
  'IntegralCF',
  'Satoshi',
    Inter,;
  font-size: 14px;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
